<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bonepeople.android.sdcardcleaner">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <service
            android:name=".service.FileManager"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScanActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.FileListActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.PathListActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.FileExplorerActivity"
            android:theme="@style/AppTheme.NoTitle" />
    </application>

</manifest>