# Default ignored files
/shelf
/caches
/libraries
modules.xml
workspace.xml
navEditor.xml
assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
gradle.xml
compiler.xml
migrations.xml
/codeStyles/codeStyleConfig.xml
/kotlinc.xml
/codeStyles/Project.xml
